name: Deploy MkDocs
on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      # This step installs the plugin needed for your Mermaid diagrams
      - run: pip install mkdocs-material[imaging] 
      - run: mkdocs gh-deploy --force
